<% @title = "Reasons" %>
<p></p>
<h2 class="underline">More Reasons</h2>
<p></p>

<% @reasons.each do |reason| %>
<div class="reasons_picture">
	<%= image_tag reason.image.url %>


	<h3 class="underline"><%=h reason.title %></h3>
	<p><%=h reason.argument %></p>
	<p><%= link_to 'Start Packing', '/categories/1' %></p>

	<% if current_user.nil? %>
	<% else %>
		<% if current_user.name == 'jeremy' %>
			<%= link_to 'Edit', edit_reason_path(reason) %>
			<%= link_to 'Destroy', reason, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
	<% end %>

</div>
<% end %>