<% @bag.bag_items.group_by{|bag_item| bag_item.item.category}.each do |category, bag_items|%>

<div class="category_packing_title"><h4><%= category.title %></h4></div>

<div class="the_packing_list_holder">

	<% for bag_item in bag_items %>


<div class="items_to_pack">
<table width="300px" border="0">
  <tr>
	  <td width="50px" align="right" class="quantity"><%= bag_item.quantity%></td>
    <td width="50px" ><%= image_tag bag_item.item.image.url(:thumb) %></td>
		<td width="200px"><% form_for bag_item, :class=> 'pack_my_item', :url => bag_bag_item_path(@bag, bag_item), :html => {:method => :put} do |f| %>
			<label>
				<%= f.check_box :packed %>
				<%= bag_item.item.name %>
			</label>	
				<input type="submit" value="Pack it" class="pack_item_button" />
				<% end %>
		</td>				
  </tr>
</table>
</div>

	<% end %>
<% end %>