<h1><%= bag.name %></h1>

<% form_tag email_bag_path(bag) do %>
<%= text_field_tag :email %>
<%= submit_tag %>
<% end %>



<% if bag.bag_items.empty? %>
Your Bag is Empty
<% else %>

<ul>
	<% for bag_item in bag.bag_items %>
		<li>
			<%= bag_item.item.name %> x <%= bag_item.quantity%>

			<%= link_to '[+]', increase_quantity_bag_bag_item_path(bag, bag_item), :method => :put %> | 
			<%= link_to '[-]', decrease_quantity_bag_bag_item_path(bag, bag_item), :method => :put %>
		</li>
	<% end %>
</ul>
<% end %>