<h1>Editing item</h1>

<% form_for(@item) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
		<%= f.collection_select :category_id, Category.all, :id, :title, :prompt => "select a category" %>
	</p>
	<p>
		<%= f.label :buy_now, 'Buy Link' %>
		<%= f.text_field :buy_now %>
	</p>
	<p>
		<%= f.label :image %>:
		<%= f.file_field :image %>
		<!-- <input type="submit" value="Create" /> -->
	</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
