<% @title = "Create a New Packing List" %>

<% if @category == @categories.last %>
<div id="new_user_item_container">
	<%= render 'items/new_form' %>
</div>
<% else %>
<div id="category_blurb">
	<strong>A little bit lost?</strong> - Its simple! Click through the different categories on the left hand side. When you see an item you want to pack click the <span class="add">add to list</span> button. If their is an item that we don't have already, you can add it to the custom section by <%= link_to 'clicking here', category_path(Category.last) %> or visit the <%= link_to 'custom', category_path(Category.last) %> section directly.
</div>
<% end %>
<div id="finished_packing"><%= link_to 'Finish Packing', current_bag, :class => 'clickme' %></div>

<div id="wardrobe">
	<div id="wardrobe_title" class="underline">
		<h2 id="wardrobe_category_title"><%= @category.title %></h2>
	</div>

	<div id="category_menu">
		<%= @categories.map { |category| 
		link_to(category.title, category_path(category)) 
		}.join(' / ') %>
	</div>


	<div id="collection_of_items_to_pack">
		<% for item in @category.items %>			
		<div class="item_to_pack">
			
			<table>
				<tr>
					<td height="100px"><% form_tag bag_bag_items_path(current_bag) do %>
					<%= hidden_field_tag :item_id, item.id %>
					<%= image_submit_tag item.image.url(:normal) %>
					<% end %></td>
				</tr>
				
				<tr>
					<td height="20px"><%= truncate(item.name, :length =>15) %></td>
				</tr>	
				<tr>
					<td height="15px">
					<% if item.buy_now == nil %>
					<% else %>
					<span class="buy_now"><%= link_to 'buy now', item.buy_now, :popup => true %></span>
					<% end %></td>
				</tr>
				
				<tr>
					<td height="20px"><% form_tag bag_bag_items_path(current_bag), :class => 'add_to_my_bag' do %>
					<%= hidden_field_tag :item_id, item.id %>
					<!-- <input type="submit" value="Add to bag" /> -->
					<%= submit_tag "Add to List", :class => 'add' %>
					<% end %></td>
				</tr>
			</table>
		</div>
		<% end %>
	</div>

</div>

<div id="shared_bag">
	<%= render 'shared/bag_list' %>
</div>
