<%= Category.all.map { |category| 
	link_to(category.title, category_path(category)) 
 }.join(' | ') %>

<h1><%= @category.title %></h1>

<div id="new_user_item">
	<%= render 'items/new_form' %>
</div>

<div id="items_to_pack">
	<% for item in @category.items %>			
		<p>
			<%=h item.name %><br />
			<%= image_tag item.image.url(:normal) %><br />

			<% form_tag bag_bag_items_path(bag) do %>
				<%= hidden_field_tag :item_id, item.id %>
				<input type="submit" value="Add to bag" />
			<% end %>

		</p>
	<% end %>
</div>



<%= render 'shared/bag_list' %>		

