<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %> / <%=  %> / <%= h(bag.id) %></title>
	<%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', 'jquery-ui-1.7.1.custom.min', 'application'%>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>ipackedit.com</h1> <!-- put in dynamic header -->
		</div>
		<div id="user_login_layout">
			<%= render 'users/user_bar' %>
		</div>
		
		<% if flash[:notice] -%>
		<div id="check">
			<div id="flash"><%= flash[:notice] %>
			</div>
		</div>	
		<% end -%>
		
		<div id="check">
		
		<% if flash[:error] -%>
			<div id="error"><%= flash[:error] %>
			</div>

		<% end -%>
				</div>
		
		<div id="content">
			<%= yield :layout %>
		</div>
	
						
		<div id="footer">
			copyright ipackedit.com 2009
		</div>
	</div>
	
</body>
</html>