<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %> / iPackedit.com: "The best online resource for packing"</title>
	<%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js', 'jquery-ui-1.7.1.custom.min', 'jquery.jeditable.mini.js', 'application'%>
	<%= yield :head %>
	<link rel="Shortcut Icon" href="/favicon.ico">
</head>

<body>
	<div id="container">
		<div id="header">
			<h1><%= link_to 'iPacked it.com', '/' %></h1> <!-- put in dynamic header -->
		</div>
		<div id="user_login_layout">
			<%= render 'users/user_bar' %>
		</div>
		
		<% if flash[:notice] -%>
		<div id="check">
			<div id="flash"><%= flash[:notice] %>
			</div>
		</div>	
		<% end -%>
		
		<div id="check">
		
		<% if flash[:error] -%>
			<div id="error"><%= flash[:error] %>
			</div>

		<% end -%>
				</div>
		
		<div id="content">
			<%= yield :layout %>
		</div>
		
		
		<div id="share_me_bar">
			<%= render '/pages/share_me' %>
		</div>
						
		<div id="footer">
			copyright ipackedit.com 2009
		</div>
	</div>
	
<!-- Feedback form	 -->
	<script type="text/javascript">
	var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
	document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
	</script>
	<script type="text/javascript">
	UserVoice.Tab.show({ 
	  key: 'ipackedit',
	  host: 'ipackedit.uservoice.com', 
	  forum: 'general', 
	  alignment: 'left', /* 'left', 'right' */
	  background_color:'orange', 
	  text_color: 'white', /* 'white', 'black' */
	  hover_color: 'orange',
	  lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
	})
	</script>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7075448-3");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>